h1 {
    
}

.profile__inner {
    width: 1000px;
    margin: 60px auto;
}

.profile-group {
    display: flex;
    justify-content: flex-start;
    color: #9b9b9b;
}

.profile__image {
    width: 50%;
}

.profile__image>img {
    max-width: 90%;
}

.profile__image-info {
    margin-top: 10px;
}

.profile__image-info label {
    padding: 5px 10px;
    background-color: #d6d7d7;
    cursor: pointer;
    border: #777 solid 0.5px;
    font-size: 14px;
}

.profile__image-info label:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: none;
}

.profile__info-title {
    font-size: 18px;
    margin-top: 20px;
}

.profile__info-title:first-child {
    margin-top: 0;
}

.profile__info-input {
    width: 500px;
    height: 50px;
    color: #b5b4b4;
    font-size: 16px;
}

.profile__input--checkbox {
    font-size: 20px;
    margin-right: 16px;
}

.profile-checkbox {
    transform: scale(1.2);
    border-radius: 5px;
    margin-right: 4px;

}

.profile__input--checkbox label {
    margin-right: 16px;
}

.profile__description {
    margin-top: 40px;
}

.description-box {
    width: 100%;
    height: 180px;
}

.profile-form__btn-inner {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 32px;
}

.btn {
    display: block;
    border: none;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    height: 48px;
    border-radius: 3px;
    background: #f7d656;
    color: #000;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 4px #b5b4b4;
}

.profile-form__back-btn {
    text-decoration: none;
    background-color: #b5b4b4;
}

.form__error {
    color: red;
}

form.profile__form-delete {
    text-align: right;
    margin-top: -36px;
}

.profile__form__delete-mark {
    background: transparent;
    border: none;
}

.profile__form__delete-mark>img {
    width: 25px;
    height: 30px;
    cursor: pointer;
}