h1 {
    display: none;
}

.purchase__inner {
    width: 1000px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}

.order-group {
    width: 60%;
}
.item-group, .payment-group, .address-group {
    border-bottom: gray 1px solid;
    padding: 0 10px 40px;
}

.item-group {
    display: flex;
    justify-content: flex-start;
}

h2 {
    font-size: 20px;
    margin-top: 40px;
}

.payment-form {
    margin-left: 40px;
}

.item__image {
    width: 250px;
}

.item__image>img {
    max-width: 90%;
}

.item__info-title {
    font-size: 24px;
    margin-top: 20px;
}

h2.item__info-title {
    font-size: 26px;
    margin: 0;
    font-weight: bold;
}

.item__info-price {
    font-size: 24px;
}

.item__info-price>span {
    font-size: 16px;
}

.purchase-group {
    width: 32%;
}

.address-group-title {
    display: flex;
    justify-content: space-between;
}

.address-change {
    text-decoration: none;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    border: none;
    background: none;
    color: #4dcbf5;
    margin-top: 20px;
    padding: 0px 20px;
    cursor: pointer;
}

.profile__address {
    margin-left: 40px;
}

.purchase-box {
    margin-bottom: 40px;
    width: 100%;
}

.purchase-box tr {
    height: 80px;
    border: #000 solid 1px;
}

.purchase-box th {
    width: 40%;
    font-weight: normal;
}

.purchase-box td {
    font-weight: normal;
}


.show-form__btn-inner {
    gap: 32px;
}

.show-form__btn-inner>textarea {
    width: 96%;
    height: 200px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    border: none;
    font-size: 16px;
    padding: 10px;
    width:100%;
    height: 42px;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 4px #b5b4b4;
}


.form__error {
    color: red;
}
