.header {
    border: none;
}

.register-form__content {
    padding-bottom: 100px;
}

.register-form__heading h1 {
    margin-top: 60px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50vw;
    padding: 20px 0;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    border: solid #9b9b9b 1px;
    border-radius: 3px;
    appearance: none;
    font-size: 16px;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    display: block;
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 4px #b5b4b4;
}

.login__button-submit {
    text-decoration: none;
    color: #127ccf;
}

.login__link {
    text-align: center;
    margin-top: 20px;
}

.register__link {
    display: none;
}