h1 {
    text-align: center;
    margin: 50px auto;
}

.sell__inner {
    width: 700px;
    margin: 60px auto;
}

p.sell__image-info {
    width: 100%;
    height: 100px;
    border: gray solid 1px;
    border-radius: 3px;
    text-align: center;
}

.sell__image-info label {
    display: inline-block;
    margin: 30px auto;
    padding: 5px 15px;
    cursor: pointer;
    border: red solid 2px;
    border-radius: 5px;
    font-size: 14px;
    color: red;
}

.sell__image-info label:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: none;
}

.sell__info-title {
    font-size: 18px;
    margin-top: 40px;
}

h2.sell__info-title {
    font-size: 24px;
    border-bottom: 1px #a9a5a5 solid;
    margin: 40px 0;
}

select.form__item-condition-select {
    width: 100%;
    height: 30px;
}

.sell__info-input {
    width: 100%;
    height: 50px;
    /* color: #b5b4b4; */
    font-size: 16px;
}

.sell__input--checkbox {
    font-size: 20px;
    margin-right: 16px;
}

.sell-checkbox {
    transform: scale(1.2);
    border-radius: 5px;
    margin-right: 4px;
}

.sell__input--checkbox label {
    margin-right: 16px;
}

/* 元のチェックボックスを非表示 */
.hidden-checkbox {
    position: absolute;
    /* 画面外に配置 */
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

/* ラベル（ボタン本体）のスタイル */
.sell__input--checkbox label {
    display: inline-block;
    border: 1px solid #ff0000;
    color: #ff0000;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 10px;
    /* transition: background-color 0.3s, border-color 0.3s; */
}

/* チェックされた時のラベルのスタイル */
.sell__input--checkbox input[type="checkbox"]:checked+label {
    background-color: #ff0000;
    border-color: #ff0000;
    color: white;
}

.sell__description {
    margin-top: 40px;
}

.description-box {
    width: 100%;
    height: 180px;
}

.sell-form__btn-inner {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 32px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #767676;
}

.currency {
    padding-left: 5px;
    color: #555;
}

.price-input{
    border: none;
}

.btn {
    display: block;
    border: none;
    background: #ff0000;
    color: #FFF;
    font-size: 18px;
    margin: 40px 0;
    padding: 10px;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 4px #b5b4b4;
}

.sell-form__back-btn {
    text-decoration: none;
    background-color: #b5b4b4;
}

.form__error, .color-red {
    color: red;
}

.form__required {
    background-color: red;
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
}

.color-red {
    margin-left: 10px;
    font-size: 14px;
}