h1 {
    display: none;
}
.show__inner {
    width: 1000px;
    margin: 60px auto;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em;
    /* 記号の左右の余白 */
    color: #777;
    /* 記号の色 */
}

.breadcrumb a {
    text-decoration: none;
    color: #68d2f5;
}

.show-group {
    display: flex;
    justify-content: center;
}

.show__image {
    width: 45%;
}

.show__image>img {
    max-width: 90%;
}

.show__info {
    width: 500px;
}

.show__info-title {
    font-size: 24px;
    margin-top: 20px;
}

h2.show__info-title {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.show__info-brand {
    margin-top: 4px;
    font-size: 14px;
}

.show__info-price {
    font-size: 24px;
}

.show__info-price>span {
    font-size: 16px;
}

.show__info-icons {
    display: flex;
    gap: 10%;
    margin-left: 20px;
    align-items: flex-end;
}

.show__likes, .show__comment {
    text-align: center;
}

.show__form__likes-mark, .show__form__comment-mark {
    width: 30px;
    height: 30px;
}

.show__form__comment-mark {
    margin-bottom: 4px;
}

button.show__form__likes {
    background: transparent;
    border: none;
    cursor: pointer;
}

.show__info-icons p {
    font-size: 12px;
}


.show-form__btn-inner {
    gap: 32px;
}

.show-form__btn-inner>textarea {
    width: 96%;
    height: 200px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 480px;
    height: 42px;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 4px #b5b4b4;
}

.show__info-description, .show__info-category {
    margin-bottom: 50px;
}

.show__info-category dl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.show__info-category dt {
    width: 30%;
    /* padding-bottom: 20px; */
    margin-bottom: 10px;
    font-weight: bold;
}

.show__info-category dd {
    width: 70%;
    /* padding-bottom: 20px; */
    margin-bottom: 10px;
    margin-left: 0;
}

.category-button {
    background-color: #d2d2d2;
    padding: 5px 15px;
    border-radius: 15px;
}

.form__error {
    color: red;
}
form.show__form-delete {
    text-align: right;
    margin-top: -36px;
}
.show__form__delete-mark {
    background: transparent;
    border: none;
}
.show__form__delete-mark>img {
    width: 25px;
    height: 30px;
    cursor: pointer;
}
.comment-user {
    margin-bottom: 40px;
}

.comment__user-info {
    display: flex;
    justify-content: flex-start;
    width: 360px;
    align-items: center;
}

.comment__user-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.comment__user-name {
    font-size: 16px;
    margin-left: 20px;
}

.comment__user-text {
    background-color: #d2d2d2;
    padding: 15px 10px;
    width: 96%;
    margin: 10px 0;
    font-size: 14px;
}